<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito de Compras</title>
  </head>
  <body>
    <h1>Carrito de Compras</h1>
    <ul>
      {{#each carts}}
        <li>
          {{#each products}}
            <p>Nombre del Producto: {{name}}</p>
            <p>Precio: ${{price}}</p>
            <p>Cantidad: {{quantity}}</p>
          {{/each}}
        </li>
      {{/each}}
    </ul>
  </body>
</html>