<h1>Iniciar Sesi칩n</h1>
<a href="http://localhost:8080/auth/github" class="btn btn-primary">Iniciar
  Sesi칩n con GitHub</a>
<form action="http://localhost:8080/api/login" method="post">
  <input name="username" placeholder="Nombre de usuario" />
  <input name="password" type="password" placeholder="Contrase침a" />
  <button type="submit">Iniciar Sesi칩n</button>
</form>